<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issue with Weight</title>
</head>
<body>
    <h1>Over Weight for Shipping Method <%= params.shipmentType %></h1>
    <p>Item Weight:  <%= params.shippingWeight %>oz</p>
</body>
</html>